.contact__main {
    margin: 50px;

    h1 {
        margin: 50px 0px 50px 0px;
        font-size: map-get($fonts, fontMainTitleSize);
    }
    
    .contact__contactaNos {
        .contact__texto {

            h2 {
                margin-bottom: 20px;
            }
        }
    }
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: $mediaScreenDesktop){
    .contact__main {   
        h1 {   
            margin: 100px 0px 50px 0px;
            font-size: map-get($fonts, fontMainTitleSize);
        }

        .contact__contactaNos {
            .contact__texto {
                margin-top: 20px;
            }
        }
    }
}