footer{
    background-color: map-get($colors, backgroundFooterColor);

    .container{
        .mb-4{
            a {
                .bi {
                    font-size: map-get($fonts, fontIconSizes);
                    color:map-get($colors, iconFooterColor);
                }
            }            
        }

    }

    .copyright {
        background-color: map-get($colors, backgroundCopyrightColor);

        h6{
            font-size: map-get($fonts, fontSizesCopyrigh);
        }
    }
}


