header {
    background-color: map-get($colors, backgroundHeaderColor);

    nav {
//-------------------------Logo------------------------->
        .logo {
            margin-left: 20px;
        }
//-------------------------OcultarNav------------------------->
        .bigNav {
            display: none;
        }
    }
}

@media screen and (min-width: $mediaScreenDesktop){
    header{
        height: 90px;

        nav {
//-------------------------Logo------------------------->
            .logo {
                margin-left: 20px;
            }

//-------------------------OcultarNav------------------------->
            .dropdown {
                display: none;
            }
    
            .bigNav {
                display: flex;
                }
            }
        }
    }