header {
    background-color: map-get($colors, backgroundHeaderColor);

    nav {
        .logo {
            margin-left: 20px;
        }

        .dropdown {
            .navItems {
                a {
                    color: map-get($colors, navTextColorMovile);
                    text-decoration: none;
                    font-size: map-get($fonts, fontNavSizeMovile);
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: uppercase;  
                }

                li {
                    padding-left: 10px;
                }
            }
        }

        .bigNav {
            display: none;
        }
    }
}

@media screen and (min-width: 992px){
    header{
        height: 90px;

        nav {
            .logo {
                margin-left: 20px;
            }
    
            .dropdown {
                display: none;
            }
    
            .bigNav {
                display: flex;
                }
            }
        }
    }