/*_______________________________________Index_______________________________________*/
.index__main{
    margin-top: 100px;
    background-color: map-get($colors, backgroundBodyColor);

    .index__noticias{
        margin-bottom: 10px;

        .index__noticia__particular{
            margin-bottom: 20px;

            a {
                text-decoration: none;
                 color: map-get($colors,  noticeTextColor);

                 img {
                    width: 100%;
                    height: auto;
                }

                .card-body{
                    h3 {
                        text-align: center;
                        margin-top: 5px;
                    }
            
                    p{
                        display: none;
                    }
                }
            }
        }

    }

    .index__nuestrosJuegos{
        margin-bottom: 50px;

        h2{
            @include OurGames (0px, 20px, 0px, 20px, fontOurGamesSize);
        }
    }
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px){
    .index__main{
        .container-fluid{
            .index__noticias{
                    .index__noticia__particular{
                        transition: all 1s;
                        
                        &:hover{
                            transform: translate(0px, -50px);
                        }

                        a {
                            .card-body{
                                p {
                                    display: flex;
                                    font-size: map-get($fonts, fontNoticeSize);
                                }
                            }
                    }
                }
            }
        }
    }
}