$colors: (
    backgroundHeaderColor: #1c1c2c,
    navTextColorMovile:#f9d904,
    navTextColorDesktop: #FFF,
    navTextColorDesktopHover: #f9d904,
    backgroundBodyColor: #FFF,
    noticeTextColor:#1c1c2c,
    backgroundFooterColor: #1c1c2c,
    iconFooterColor: #FFF,
    backgroundCopyrightColor: #1c1c2c,
);

$fonts:(
    fontNavSizeMovile: 1.5rem,
    fontNavsizeDesktop: 1.7rem,
    fontOurGamesSize: 3rem,
    fontNoticeSize: 1rem,
    fontIconSizes: 2rem,
    fontSizesCopyrigh: 1rem,
);

