// object-fit: cover

$colors: (
//-------------------------Header------------------------->
    backgroundHeaderColor: #1c1c2c,
    navTextDesktopColor: #FFF,
    navTextDesktopHoverColor: #f9d904,

//-------------------------General Body------------------------->
    backgroundBodyColor: #FFF,

//-------------------------Index------------------------->
    noticeTextColor:#1c1c2c,

//-------------------------Contact------------------------->
    backgroundCouestionarioColor: #bdbdbd,

//-------------------------Games------------------------->
    backgroundinformaciónDelJuegoColor: #1c1c2c,
    textInformaciónDelJuegosColor: #FFF,
    hrValoracionesColor: #000000,

//-------------------------Team------------------------->
    textSobreNosotrosColor: #1c1c2c,

//-------------------------Footer------------------------->
    backgroundFooterColor: #1c1c2c,
    iconFooterColor: #FFF,
    backgroundCopyrightColor: #1c1c2c,
);

$fonts:(
//-------------------------Header------------------------->
    fontNavDesktopsize: 1.5rem,

//-------------------------Index------------------------->
    fontOurGamesSize: 2rem,
    fontOurGamesDesktopSize: 2rem,
    fontNoticeSize: 1rem,

//-------------------------Contact------------------------->
    fontMainTitleSize: 4rem,

//-------------------------Games------------------------->
    fontGameTileSize: 3rem,
    fontGameTextSize: 1rem,
    fontAvailableTitleSize: 2rem,

//-------------------------News------------------------->
    fontNoticesTitleSize: 2.5rem,

//-------------------------Team------------------------->
    fontSobreNosotrosTextSize: 1.5rem,
    fontTheTeamTitleSize: 3rem,
    fontMemberNameSize: 2rem,
    fontMemberTextSize: 1rem,

//-------------------------Footer------------------------->
    fontIconSizes: 1rem,
    fontCopyrighSizes: 1rem,
);