@mixin OurGames ($mup, $mr, $md, $ml, $sizes) {
    margin: $mup $mr $md $ml;
    font-size: map-get($fonts, $sizes);
};

@mixin hr ($color, $size, $tipe) {
    border: $color, $size, $tipe;
}

@mixin aNav ($color){
    color: $color;
}

@mixin backgroundImages ($image) {
    background-image: url($image);
}

@import
"./maps";