@mixin OurGames ($mup, $mr, $md, $ml, $sizes) {
    margin: $mup $mr $md $ml;
    font-size: map-get($fonts, $sizes);
};

@mixin hr ($color, $size, $tipe) {
    border: $color, $size, $tipe;
}

@import
"./maps";