.navItems {
        a {
            color: map-get($colors, navTextDesktopColor);
            text-decoration: none;
            font-size: map-get($fonts, fontNavDesktopsize);
            font-weight: bold;
            letter-spacing: 3px;
            text-transform: uppercase;
            @extend %navButtonsAnimationUnderline; 
            
            &:hover{
                @extend %botonNavDesktopHoverYFocus;
            };

            &:focus {
                @extend %botonNavDesktopHoverYFocus;
            };
        }

        li {
            list-style: none;
            padding: 0px 10px 0px 10px;
        }
    }