.news_main {
    margin: 50px;
    
    .news_principalTitle{
        h1{
            margin: 50px 0px 50px 0px;
            font-size: map-get($fonts, fontMainTitleSize)
        }
    }

    .news_articulos{
        article {
            h2 {
                padding-left: 20px;
                font-size: map-get($fonts, fontNoticesTitleSize);
            }
            
            h6 {
                padding-left: 20px;
            }

            img {
                width: 100%;
                height: auto;
            }

            p {
                width: 90%;
                margin-top: 30px;
                padding-left: 20px;
            }
        }
    }

    hr {
        margin: 30px 0px 30px 10%;
        width: 80%;
    }
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: $mediaScreenDesktop){
    .news_main {
        .news_principalTitle{
            h1{
                font-size: map-get($fonts, fontMainTitleSize);
                margin-bottom: 50px;
            }
        }

        .news_articulos{
            article {
    
                p {
                    width: 80%;
                }
            }
        }
    }
}