.team__main {
    text-align: center;
    margin: 50px 0px 50px 0px;
    
    .team__sobreNosostros {
        img {
            width: 50%;
            height: auto;
        }
        
        p {
            color:map-get($colors, textSobreNosotrosColor);
            font-size: map-get($fonts, fontSobreNosotrosTextSize);
            width: 80%;
            margin-bottom: 20px;
        }
    }

    h1 {
        padding: 50px 0px 40px 0;
        text-transform: uppercase;
        font-size: map-get($fonts, fontTheTeamTitleSize);
    }

    .team__equipo {
        .team__miembro{
            img {
                padding: 10px;
            }
            
            h1{
                font-size: map-get($fonts, fontMemberNameSize);
                margin-top: -50px;
            }

            p{
                text-align: left;
                font-size: map-get($fonts, fontMemberTextSize);
                margin-bottom: 30px;
            }
        }
    }
}


/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: $mediaScreenDesktop){
    .team__main {
        margin: 50px 0px 50px 0px;

        .team__sobreNosostros {
            img {
                width: 40%;
                height: auto;
            }
    
            p {
                font-size: map-get($fonts, fontSobreNosotrosTextSize);
                margin-bottom: 0px;
            }
        }

        h1 {
            margin-bottom: 40px;
            text-transform: uppercase;
            font-size: map-get($fonts, fontTheTeamTitleSize)
        }

        .team__equipo {
            .team__miembro{
                img {
                    padding: 10px;
                }
                
                h1{
                    margin-bottom: -20px;
                }

                @include animation (all, .8s, ease-in-out);

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

}
