* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

/*______________________________________________________HEADER______________________________________________________*/
header {
    background-color: #1c1c2c;
}

.bigNav {
    display: none;
} 

.logo {
    margin-left: 20px;
} 

.navItems a {
    color:  #f9d904;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navItems li {
    padding-left: 10px;
}

/*______________________________________________________MAIN______________________________________________________*/
.games__main{
    padding-bottom: 50px;
}

.games__informacionDelJuego {
    background-color:#1c1c2c;
    margin-top: 10px;
}

.games__gameCover {
    padding-top: 50px;
}

.games__infoDelJuego {
    margin-bottom: 50px;
    width: 80%;
    color: #FFF;
}

.games__infoDelJuego h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
}

.games__infoDelJuego hr {
    margin: 10px 0px 10px 0px;
}

.games__infoDelJuego h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

.games__infoDelJuego p {
    font-size: 16px;
}

.games__gamesStore img {
    margin: 10px 10px 0px 0px;
}

.games__valoraciones {
    margin: 20px 0px 20px 0px;
    height: 500px;
}

.games__valoraciones hr {
    border: #000000 1px solid;
    width: 90%;
    margin: 10px 0px 10px 0px;
}

.games__valoraciones p {
    width: 85%;
}

/*------------Clasificacion por edades-----------*/

.usa, .ue {
    text-align: center;
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

.usa img, .ue img {
    max-width: 100%;
    max-height: 100%;
}

.ue img {
    max-width: 100%;
    max-height: 100%;
}
/*______________________________________________________FOOTER______________________________________________________*/
footer {
    background-color: #1c1c2c;
}

.bi {
    font-size: xx-large;
    color:#FFF;
}

.copyright {
    background-color: #1c1c2c;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px){

/*______________________________________________________HEADER______________________________________________________*/
    .dropdown {
        display: none;
    }

    .bigNav {
        display: flex;
    }

    header {
        height: 90px;
    }

    .logo {
        margin-left: 100px;
    }

    .navbig a {
            color: #FFF;
            font-size: xx-large;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
    }

    .navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    }
/*______________________________________________________MAIN______________________________________________________*/
    /*-------------info y valoraciones------------*/
    .games__informacionDelJuego {
        background-image: url(https://i.pinimg.com/originals/a9/9e/e5/a99ee553b34b3ff0668f952fcc565dab.jpg);
    }
}