*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

---------------------------------
.hola {
    background-color: #1c1c2c;
}

.navBig {
    display: none;
} 

.logo {
    margin-left: 20px;
} 

.navItems a {
    color:  #f9d904;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navItems li {
    padding-left: 10px;
}


/* 
.logo {
    margin-left: 100px;
} */

/*.navItems {
    margin-right: 100px;
}*/

/*.navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
}*/

/*.navItems a {
    color: #FFF;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}*/

/*.navItems li a:hover {
    color:  #f9d904;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color:  #f9d904;
}*/


----------------------------------------------------------------
.noticias p {
    font-size: large;
    padding-bottom: 10px;
}

.noticias img {
    width: 100%;
    height: auto;
}

.noticias h1 {
    text-align: center;
    margin-top: 20px;
}

.noticia__particular a {
    text-decoration: none;
    color: #1c1c2c;
}

----------------
.nuestrosJuegos h1 {
    margin: 10px 20px 0px 20px;
}

.carousel {
    margin-top: 10px;
}

/*.carousel-item img {
    width: 1280px;
    height: 1040px;
}*/

.carousel-item img {
    width: auto;
    height: auto;
}

/*.noticia__particular:hover {
    transform: translate(0px, -100px);
}

.noticias div {
    transition: transform 1s;
}*/


footer {
    background-color: #1c1c2c;
}

.bi {
    font-size: xx-large;
    color:#FFF;
}

.copyright {
    background-color: #1c1c2c;
}

/* @media screen and (min-width: 992px){
    .navBig {
        display: flex;
    } 

    .navItems {
        display: none;
    }

    .navbig a {
            color: #FFF;
            font-size: xx-large;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
    }
} */