*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
/*______________________________________________________HEADER______________________________________________________*/
header {
    background-color: #1c1c2c;
}

.bigNav {
    display: none;
} 

.logo {
    margin-left: 20px;
} 

.navItems a {
    color:#f9d904;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navItems li {
    padding-left: 10px;
}

/*______________________________________________________MAIN______________________________________________________*/

/*_______________________________________Index_______________________________________*/
.index__main {
    margin-top: 100px;
}

/*------------Noticias-----------*/
.index__noticias {
    margin-bottom: 10px;
}

.index__noticias p {
    display: none;
}

.index__noticias img {
    width: 100%;
    height: auto;
}

.index__noticias h1 {
    text-align: center;
    margin-top: 5px;
}

.index__noticia__particular {
    margin-bottom: 20px;
}

.index__noticia__particular a {
    text-decoration: none;
    color: #1c1c2c;
}

/*------------Nuesros Juegos-----------*/
.index__nuestrosJuegos {
    margin-bottom: 50px;
}

.index__nuestrosJuegos h1 {
    margin: 0px 20px 0px 20px;
}

/*_______________________________________Games_______________________________________*/
.games__main{
    padding-bottom: 50px;
}

/*------------Info del juego-----------*/
.games__informacionDelJuego {
    background-color:#1c1c2c;
    margin-top: 10px;
}

.games__gameCover {
    padding-top: 50px;
}

.games__infoDelJuego {
    margin-bottom: 50px;
    width: 80%;
    color: #FFF;
}

.games__infoDelJuego h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
}

.games__infoDelJuego hr {
    margin: 10px 0px 10px 0px;
}

.games__infoDelJuego h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

.games__infoDelJuego p {
    font-size: 16px;
}

.games__gamesStore img {
    margin: 10px 10px 0px 0px;
}

/*------------Valoraciones-----------*/
.games__valoraciones {
    margin: 20px 0px 20px 0px;
    height: 500px;
}

.games__valoraciones hr {
    border: #000000 1px solid;
    width: 90%;
    margin: 10px 0px 10px 0px;
}

.games__valoraciones p {
    width: 85%;
}
/*------------Clasificacion por edades-----------*/

.usa, .ue {
    text-align: center;
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

.usa img, .ue img {
    max-width: 100%;
    max-height: 100%;
}

.ue img {
    max-width: 100%;
    max-height: 100%;
}

/*_______________________________________News_______________________________________*/
.news_main {
    margin: 30px;
}

.news_main img {
    width: 100%;
    height: auto;
}

.news_main h1 {
    padding: 50px 0px 50px 0px;
}

.news_main p {
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
}

.news_main h2, .news_main h6 {
    padding-left: 20px;
}

.news_main hr {
    margin: 30px 0px 30px 10%;
    width: 80%;
}

/*_______________________________________Team_______________________________________*/
.team-main {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

/*------------Sobre la empresa-----------*/
.team__sobreNosostros img {
    width: 50%;
    height: auto;
}

.team__sobreNosostros p {
    color:#1c1c2c;
    font-size: large;
    width: 80%;
    margin-bottom: 20px;
}

/*------------Sobre el equipo-----------*/
.team-main h1 {
    padding: 100px 0px 40px 0;
    text-transform: uppercase;
    font-size: xxx-large;
}

.team__equipo img {
    padding: 10px;
}

.team__miembro img {
    margin-bottom: -100px;
}

.team__miembro h1 {
    font-size: xx-large;
}

.team__miembro p {
    text-align: left;
    font-size: medium;
}

/*_______________________________________Contac_______________________________________*/
.contact__main {
    margin: 50px;
}

.contact__TodoElCuestionario {
    width: 50%;
    padding: 15px;
    background-color: #bdbdbd;
}

.contact__main h1 {
    margin: 50px 0px 50px 0px;
    font-size: 40px;
}

.contact__texto {
    width: 80%;
}

.contact__texto h2 {
    margin-bottom: 20px;
}

.contact__cuestionario {
    margin: 20px 0px 30px 0px;
}
/*______________________________________________________FOOTER______________________________________________________*/
footer {
    background-color: #1c1c2c;

}

.bi {
    font-size: xx-large;
    color:#FFF;
}

.copyright {
    background-color: #1c1c2c;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px){

/*______________________________________________________HEADER______________________________________________________*/
    .dropdown {
        display: none;
    }

    .bigNav {
        display: flex;
    }

    header {
        height: 90px;
    }

    .logo {
        margin-left: 100px;
    }

    .navItems a {
        color:  #FFF;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
    
    .navItems a:hover, .navItems a:focus {
        background-size: 100% 2px;
        color:  #f9d904;
    }

    .navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    }
/*______________________________________________________MAIN______________________________________________________*/
/*_______________________________________Index_______________________________________*/
    .index__noticia__particular p {
        display: flex;
        font-size: large;
    }

    .index__noticia__particular:hover {
        transform: translate(0px, -50px);
    }

    .index__noticias div {
        transition: all 1s;
    }

/*_______________________________________Games_______________________________________*/
.games__informacionDelJuego {
    background-image: url(https://i.pinimg.com/originals/a9/9e/e5/a99ee553b34b3ff0668f952fcc565dab.jpg);
}
/*_______________________________________News_______________________________________*/
    .news_main {
        margin: 50px;
        height: auto;
    }

    .news_main h1 {
        padding: 50px 0px 50px 0px;
        font-size: 60px;
    }

    .news_main h2 {
        font-size: 40px;
    }

    .news_main p {
        width: 80%;
    }
/*_______________________________________Team_______________________________________*/
    .team-main {
        margin: 50px 0px 50px 0px;
    }

    .team__sobreNosostros img {
        width: 40%;
        height: auto;
    }

    .team__sobreNosostros p {
        font-size: x-large;
        margin-bottom: 0px;
    }

    .team-main h1 {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: xxx-large;
    }

    .team__equipo img {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .team__miembro h1 {
        font-size: xxx-large;
        margin-bottom: -20px;
    }
  
    .team__miembro {
        transition: all .8s ease-in-out;
    }

    .team__miembro:hover {
        transform: scale(1.1);
    }

/*_______________________________________Contact_______________________________________*/
    .contact__main h1 {   
        margin: 100px 0px 50px 0px;
        font-size: 60px;
    }

    .contact__texto {
        margin-top: 15px;
    }

    .contact__texto p {
        width: 90%;
        font-size: large;
    }

    .contact__TodoElCuestionario {
        width: 50%;
        padding: 25px 25px 25px 25px;
        background-color: #bdbdbd;
    }

    .contact__cuestionario {
        margin-bottom: 30px;
    }
}