*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/*______________________________________________________HEADER______________________________________________________*/
header {
    background-color: #1c1c2c;
}

.bigNav {
    display: none;
} 

.logo {
    margin-left: 20px;
} 

.navItems a {
    color:  #f9d904;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navItems li {
    padding-left: 10px;
}

/*______________________________________________________MAIN______________________________________________________*/
main {
    margin-top: 100px;
}

.noticias {
    margin-bottom: 10px;
}

.noticias p {
    display: none;
}

.noticias img {
    width: 100%;
    height: auto;
}

.noticias h1 {
    text-align: center;
    margin-top: 5px;
}

.noticia__particular {
    margin-bottom: 20px;
}

.noticia__particular a {
    text-decoration: none;
    color: #1c1c2c;
}

.nuestrosJuegos {
    margin-bottom: 50px;
}

.nuestrosJuegos h1 {
    margin: 0px 20px 0px 20px;
}

/*______________________________________________________FOOTER______________________________________________________*/
footer {
    background-color: #1c1c2c;

}

.bi {
    font-size: xx-large;
    color:#FFF;
}

.copyright {
    background-color: #1c1c2c;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px){

/*______________________________________________________HEADER______________________________________________________*/
    .dropdown {
        display: none;
    }

    .bigNav {
        display: flex;
    }

    header {
        height: 90px;
    }

    .logo {
        margin-left: 100px;
    }

    .navbig a {
            color: #FFF;
            font-size: xx-large;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
    }

    .navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    }

    .noticia__particular p {
        display: flex;
        font-size: large;
    }

    .noticia__particular:hover {
    transform: translate(0px, -50px);
    }

    .noticias div {
        transition: transform 1s;
    }
}