html{
    font-size: 62,5%;

        *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }
}

@import 
"./partials/maps",
"./partials/nav",
"./partials/extends",
"./partials/header",
"./partials/main",
"./partials/footer";
