html {
  font-size: 62, 5%;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  background-color: #1c1c2c;
}
header nav .logo {
  margin-left: 20px;
}
header nav .dropdown .navItems a {
  color: #f9d904;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
header nav .dropdown .navItems li {
  padding-left: 10px;
}
header nav .bigNav {
  display: none;
}

@media screen and (min-width: 992px) {
  header {
    height: 90px;
  }
  header nav .logo {
    margin-left: 20px;
  }
  header nav .dropdown {
    display: none;
  }
  header nav .bigNav {
    display: flex;
  }
  header nav .bigNav .navItems a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  header nav .bigNav .navItems a:hover {
    background-size: 100% 2px;
    color: #f9d904;
  }
  header nav .bigNav .navItems a:focus {
    background-size: 100% 2px;
    color: #f9d904;
  }
  header nav .bigNav .navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
  }
}
/*_______________________________________Index_______________________________________*/
.index__main {
  margin-top: 100px;
  background-color: #FFF;
}
.index__main .index__noticias {
  margin-bottom: 10px;
}
.index__main .index__noticias .index__noticia__particular {
  margin-bottom: 20px;
}
.index__main .index__noticias .index__noticia__particular a {
  text-decoration: none;
  color: #1c1c2c;
}
.index__main .index__noticias .index__noticia__particular a img {
  width: 100%;
  height: auto;
}
.index__main .index__noticias .index__noticia__particular a .card-body h1 {
  text-align: center;
  margin-top: 5px;
}
.index__main .index__noticias .index__noticia__particular a .card-body p {
  display: none;
}
.index__main .index__nuestrosJuegos {
  margin-bottom: 50px;
}
.index__main .index__nuestrosJuegos h1 {
  margin: 0px 20px 0px 20px;
  font-size: 3rem;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  /*_______________________________________Index_______________________________________*/
  .index__main .container-fluid .index__noticias .index__noticia__particular {
    transition: all 1s;
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular:hover {
    transform: translate(0px, -50px);
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular a .card-body p {
    display: flex;
    font-size: 1rem;
  }
}
footer {
  background-color: #1c1c2c;
}
footer .container .mb-4 a .bi {
  font-size: 2rem;
  color: #FFF;
}
footer .copyright {
  background-color: #1c1c2c;
}
footer .copyright h6 {
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */