@charset "UTF-8";
html {
  font-size: 62, 5%;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.navItems a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.navItems a:focus, .navItems a:hover {
  background-size: 100% 2px;
  color: #f9d904;
}

.navItems a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.navItems li {
  list-style: none;
  padding: 0px 10px 0px 10px;
}

header {
  background-color: #1c1c2c;
}
header nav .logo {
  margin-left: 20px;
}
header nav .dropdown .navItems a {
  color: #f9d904;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
header nav .dropdown .navItems li {
  padding-left: 10px;
}
header nav .bigNav {
  display: none;
}

@media screen and (min-width: 992px) {
  header {
    height: 90px;
  }
  header nav .logo {
    margin-left: 20px;
  }
  header nav .dropdown {
    display: none;
  }
  header nav .bigNav {
    display: flex;
  }
}
/*_______________________________________Index_______________________________________*/
.index__main {
  margin-top: 100px;
  background-color: #FFF;
}
.index__main .index__noticias {
  margin-bottom: 10px;
}
.index__main .index__noticias .index__noticia__particular {
  margin-bottom: 20px;
}
.index__main .index__noticias .index__noticia__particular a {
  text-decoration: none;
  color: #1c1c2c;
}
.index__main .index__noticias .index__noticia__particular a img {
  width: 100%;
  height: auto;
}
.index__main .index__noticias .index__noticia__particular a .card-body h3 {
  text-align: center;
  margin-top: 5px;
}
.index__main .index__noticias .index__noticia__particular a .card-body p {
  display: none;
}
.index__main .index__nuestrosJuegos {
  margin-bottom: 50px;
}
.index__main .index__nuestrosJuegos h2 {
  margin: 0px 20px 0px 20px;
  font-size: 3rem;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .index__main .container-fluid .index__noticias .index__noticia__particular {
    transition: all 1s;
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular:hover {
    transform: translate(0px, -50px);
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular a .card-body p {
    display: flex;
    font-size: 1rem;
  }
}
.games_main {
  padding-bottom: 50px;
}
.games_main .games__informacionDelJuego {
  background-color: #1c1c2c;
  margin-top: 10px;
}
.games_main .games__informacionDelJuego .games__gameCover {
  padding-top: 50px;
}
.games_main .games__informacionDelJuego .games__infoDelJuego {
  margin-bottom: 50px;
  width: 80%;
  color: #FFF;
}
.games_main .games__informacionDelJuego .games__infoDelJuego h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;
}
.games_main .games__informacionDelJuego .games__infoDelJuego p {
  font-size: 16px;
}
.games_main .games__informacionDelJuego .games__infoDelJuego hr {
  margin: 10px 0px 10px 0px;
}
.games_main .games__informacionDelJuego .games__infoDelJuego h4 {
  font-size: 32px;
  margin-bottom: 10px;
}
.games_main .games__informacionDelJuego .games__infoDelJuego .games__gamesStore img {
  margin: 10px 10px 0px 0px;
}
.games_main .games__valoraciones {
  margin: 20px 0px 20px 0px;
  height: 500px;
}
.games_main .games__valoraciones hr {
  border: #000000 1px solid;
  width: 90%;
  margin: 10px 0px 10px 0px;
}
.games_main .games__valoraciones p {
  width: 85%;
}
.games_main .clasificaciónPorEdad .usa, .games_main .clasificaciónPorEdad .ue {
  text-align: center;
  width: 75px;
  height: 75px;
  margin-left: 20px;
}
.games_main .clasificaciónPorEdad .usa img, .games_main .clasificaciónPorEdad .ue img {
  max-width: 100%;
  max-height: 100%;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .games_main .games__infoYValoraciones .games__informacionDelJuego {
    background-image: url(https://i.pinimg.com/originals/a9/9e/e5/a99ee553b34b3ff0668f952fcc565dab.jpg);
  }
}
footer {
  background-color: #1c1c2c;
}
footer .container .mb-4 a .bi {
  font-size: 2rem;
  color: #FFF;
}
footer .copyright {
  background-color: #1c1c2c;
}
footer .copyright h6 {
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */