html{
    font-size: 62,5%;

        *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }
}

@import
"./partials/mixins",
"./partials/maps",
"./partials/extends",
"./partials/@mediaScreen",
"./partials/nav",
"./partials/header",
"./partials/index",
"./partials/team",
"./partials/contact",
"./partials/games",
"./partials/news",
"./partials/footer";
