@charset "UTF-8";
html {
  font-size: 62, 5%;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.navItems li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.navItems li a:focus, .navItems li a:hover {
  background-size: 100% 2px;
  color: #f9d904;
}

.contact__main .contact__contactaNos .contact__TodoElCuestionario {
  padding: 15px;
  background-color: #bdbdbd;
}
.contact__main .contact__contactaNos .contact__TodoElCuestionario .contact__cuestionario {
  margin: 20px 0px 30px 0px;
}

@media screen and (min-width: 992px) {
  .contact__main .contact__contactaNos .contact__TodoElCuestionario {
    padding: 25px 25px 25px 25px;
  }
  .contact__main .contact__contactaNos .contact__TodoElCuestionario .contact__cuestionario {
    margin-bottom: 30px;
  }
}
.navItems li {
  list-style: none;
  padding: 0px 10px 0px 10px;
}
.navItems li a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.navItems li .hollow {
  color: #0505ff;
}
.navItems li .hades {
  color: #ff0526;
}
.navItems li .rogue {
  color: #fbff05;
}

header {
  background-color: #1c1c2c;
}
header nav .logo {
  margin-left: 20px;
}
header nav .bigNav {
  display: none;
}

@media screen and (min-width: 992px) {
  header {
    height: 90px;
  }
  header nav .logo {
    margin-left: 20px;
  }
  header nav .dropdown {
    display: none;
  }
  header nav .bigNav {
    display: flex;
  }
}
.index__main {
  margin-top: 100px;
  background-color: #FFF;
}
.index__main .index__noticias {
  margin-bottom: 10px;
}
.index__main .index__noticias .index__noticia__particular {
  margin-bottom: 20px;
}
.index__main .index__noticias .index__noticia__particular a {
  text-decoration: none;
  color: #1c1c2c;
}
.index__main .index__noticias .index__noticia__particular a img {
  width: 100%;
  height: auto;
}
.index__main .index__noticias .index__noticia__particular a .card-body h3 {
  text-align: center;
  margin-top: 5px;
}
.index__main .index__noticias .index__noticia__particular a .card-body p {
  display: none;
}
.index__main .index__nuestrosJuegos {
  margin-bottom: 50px;
}
.index__main .index__nuestrosJuegos h2 {
  margin: 0px 20px 0px 20px;
  font-size: 2rem;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .index__main .container-fluid .index__noticias .index__noticia__particular {
    transition: all 0.5s linear;
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular:hover {
    transform: translate(0px, -50px);
  }
  .index__main .container-fluid .index__noticias .index__noticia__particular a .card-body p {
    display: flex;
    font-size: 1rem;
  }
}
.team__main {
  text-align: center;
  margin: 50px 0px 50px 0px;
}
.team__main .team__sobreNosostros img {
  width: 50%;
  height: auto;
}
.team__main .team__sobreNosostros p {
  color: #1c1c2c;
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 20px;
}
.team__main h1 {
  padding: 50px 0px 40px 0;
  text-transform: uppercase;
  font-size: 3rem;
}
.team__main .team__equipo .team__miembro img {
  padding: 10px;
}
.team__main .team__equipo .team__miembro h1 {
  font-size: 2rem;
  margin-top: -50px;
}
.team__main .team__equipo .team__miembro p {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 30px;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .team__main {
    margin: 50px 0px 50px 0px;
  }
  .team__main .team__sobreNosostros img {
    width: 40%;
    height: auto;
  }
  .team__main .team__sobreNosostros p {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  .team__main h1 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 3rem;
  }
  .team__main .team__equipo .team__miembro {
    transition: all 0.8s ease-in-out;
  }
  .team__main .team__equipo .team__miembro img {
    padding: 10px;
  }
  .team__main .team__equipo .team__miembro h1 {
    margin-bottom: -20px;
  }
  .team__main .team__equipo .team__miembro:hover {
    transform: scale(1.1);
  }
}
.contact__main {
  margin: 50px;
}
.contact__main h1 {
  margin: 50px 0px 50px 0px;
  font-size: 4rem;
}
.contact__main .contact__contactaNos .contact__texto h2 {
  margin-bottom: 20px;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .contact__main h1 {
    margin: 100px 0px 50px 0px;
    font-size: 4rem;
  }
  .contact__main .contact__contactaNos .contact__texto {
    margin-top: 20px;
  }
}
.games__main {
  padding-bottom: 50px;
}
.games__main .games__informacionDelJuego {
  background-color: #212121;
  margin-top: 10px;
}
.games__main .games__informacionDelJuego .games__gameCover {
  padding-top: 50px;
}
.games__main .games__informacionDelJuego .games__infoDelJuego {
  margin-bottom: 50px;
  width: 80%;
  color: #FFF;
}
.games__main .games__informacionDelJuego .games__infoDelJuego h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;
}
.games__main .games__informacionDelJuego .games__infoDelJuego p {
  font-size: 1rem;
}
.games__main .games__informacionDelJuego .games__infoDelJuego hr {
  margin: 10px 0px 10px 0px;
}
.games__main .games__informacionDelJuego .games__infoDelJuego h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.games__main .games__informacionDelJuego .games__infoDelJuego .games__gamesStore img {
  margin: 10px 10px 0px 0px;
}
.games__main .game__gameDescription {
  margin: 50px 0px 30px 0px;
}
.games__main .game__gameDescription .descrition {
  margin-bottom: 20px;
  flex-direction: column;
}
.games__main .game__gameDescription .descrition img {
  height: auto;
  width: 90%;
  margin-bottom: 20px;
}
.games__main .game__gameDescription .descrition hr {
  display: none;
}
.games__main .game__gameDescription .descrition h1 {
  text-align: center;
}
.games__main .game__gameDescription .descrition p {
  text-align: center;
}
.games__main .game__gameDescription .descrition-2 {
  margin-bottom: 20px;
  flex-direction: column;
}
.games__main .game__gameDescription .descrition-2 img {
  height: auto;
  width: 90%;
  margin-bottom: 20px;
}
.games__main .game__gameDescription .descrition-2 hr {
  display: none;
}
.games__main .game__gameDescription .descrition-2 h1 {
  text-align: center;
}
.games__main .game__gameDescription .descrition-2 p {
  text-align: center;
}
.games__main .games__valoraciones {
  margin: 20px 0px 20px 0px;
  height: 500px;
}
.games__main .games__valoraciones hr {
  border: #000000, 1px, solid;
  width: 90%;
  margin: 10px 0px 10px 0px;
}
.games__main .games__valoraciones p {
  width: 85%;
}
.games__main .clasificaciónPorEdad .usa, .games__main .clasificaciónPorEdad .ue {
  text-align: center;
  width: 75px;
  height: 75px;
  margin-left: 80px;
}
.games__main .clasificaciónPorEdad .usa img, .games__main .clasificaciónPorEdad .ue img {
  max-width: 100%;
  max-height: 100%;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .games__main .games__infoYValoraciones .games__informacionDelJuego .backgroundImgesHades {
    background-image: url("https://external-preview.redd.it/XocAng3cSdk0Ug5LoYHDyXwbRnsJ9c4cnoYYxw8Ir2g.jpg?auto=webp&s=5544684b7ccb9922e7c043b9716fd18757f084f9");
  }
  .games__main .games__infoYValoraciones .games__informacionDelJuego .backgroundImgesHollow {
    background-image: url("https://i.pinimg.com/originals/a9/9e/e5/a99ee553b34b3ff0668f952fcc565dab.jpg");
  }
  .games__main .games__infoYValoraciones .games__informacionDelJuego .backgroundImgesRogue {
    background-image: url("https://images.alphacoders.com/628/thumb-1920-628608.jpg");
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition {
    flex-direction: row !important;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition img {
    height: auto;
    width: 45%;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition hr {
    display: flex;
    border: none;
    border-left: 2px solid hsl(200deg, 10%, 50%);
    height: 40vh;
    width: 1px;
    margin: 0px 30px 0px 30px;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition .descrition_text {
    width: 45%;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition-2 {
    flex-direction: row-reverse !important;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition-2 img {
    height: auto;
    width: 45%;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition-2 hr {
    display: flex;
    border: none;
    border-left: 2px solid hsl(200deg, 10%, 50%);
    height: 40vh;
    width: 1px;
    margin: 0px 30px 0px 30px;
  }
  .games__main .games__infoYValoraciones .game__gameDescription .descrition-2 .descrition_text {
    width: 45%;
  }
}
.news_main {
  margin: 50px;
}
.news_main .news_principalTitle h1 {
  margin: 50px 0px 50px 0px;
  font-size: 4rem;
}
.news_main .news_articulos article h2 {
  padding-left: 20px;
  font-size: 2.5rem;
}
.news_main .news_articulos article h6 {
  padding-left: 20px;
}
.news_main .news_articulos article img {
  width: 100%;
  height: auto;
}
.news_main .news_articulos article p {
  width: 90%;
  margin-top: 30px;
  padding-left: 20px;
}
.news_main hr {
  margin: 30px 0px 30px 10%;
  width: 80%;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  .news_main .news_principalTitle h1 {
    font-size: 4rem;
    margin-bottom: 50px;
  }
  .news_main .news_articulos article p {
    width: 80%;
  }
}
footer {
  background-color: #1c1c2c;
}
footer .container .mb-4 a .bi {
  font-size: 1rem;
  color: #FFF;
}
footer .copyright {
  background-color: #1c1c2c;
}
footer .copyright h6 {
  font-size: 1rem;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px) {
  footer .container .mb-4 a .bi {
    font-size: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */