* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/*______________________________________________________HEADER______________________________________________________*/
header {
    background-color: #1c1c2c;
}

.bigNav {
    display: none;
} 

.logo {
    margin-left: 20px;
} 

.navItems a {
    color:  #f9d904;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navItems li {
    padding-left: 10px;
}

/*______________________________________________________MAIN______________________________________________________*/

main {
    text-align: center;
    margin: 50px 0px 30px 0px;
}

.sobreNosostros img {
    width: 50%;
    height: auto;
}

.sobreNosostros p {
    color:#1c1c2c;
    font-size: large;
    width: 80%;
    margin-bottom: 20px;
}

main h1 {
    padding: 100px 0px 40px 0;
    text-transform: uppercase;
    font-size: xxx-large;
}

.equipo img {
    height: 300px;
    width: 300px;
}

.miembro {
    margin-bottom: 50px;
}

.miembro img {
    margin-bottom: -100px;
}

.miembro h1 {
    font-size: xx-large;
}

.miembro p {
    text-align: left;
    font-size: large;
}

 /*______________________________________________________FOOTER______________________________________________________*/
 footer {
    background-color: #1c1c2c;
}

.bi {
    font-size: xx-large;
    color:#FFF;
}

.copyright {
    background-color: #1c1c2c;
}

/*________________________________________________________________DESKTOP________________________________________________________________*/
@media screen and (min-width: 992px){
/*______________________________________________________HEADER______________________________________________________*/
    .dropdown {
        display: none;
    }

    .bigNav {
        display: flex;
    }

    header {
        height: 90px;
    }

    .logo {
        margin-left: 100px;
    }

    .navbig a {
            color: #FFF;
            font-size: xx-large;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            cursor: pointer;
    }

    .navItems li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    }
/*______________________________________________________MAIN______________________________________________________*/
    main {
        margin: 50px 0px 400px 0px;
    }

    .sobreNosostros img {
        width: 40%;
        height: auto;
    }

    .sobreNosostros p {
        font-size: x-large;
        margin-bottom: 0px;
    }

    main h1 {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: xxx-large;
    }

    .equipo img {
        width: 100%;
        height: 100%;
    }
    
    .miembro div {
        height: 300px;
        width: 300px;
        margin-bottom: 30px;
    }

    .miembro h3 {
        margin-bottom: 20px;
        font-size: xx-large;
    }

    .miembro p {
        width: 300px;
        text-align: left;
        font-size: medium;
    } 
}